{% extends 'core/base.html' %}
{% block title  %}Inicio{% endblock  %}
{% block background %}{% load static %}{% endblock  %}
{% block content %}
<div class="hero" style="background-image: url('{% static 'core/images/aromas1.jpg' %}'); text-align:right;">
    <div class="hero-inner">
        <div class="inner">
            <h1><span class="border border-top border-bottom">Creando</span></h1>
            <div class="hero-line-one"></div>
            <div class="hero-line-two"><span class="border border-bottom"><a href="{% url 'creation' %}" style="color:#FFF;">MG</a></span></div>
        </div>

        <a class="more-arrow" href=""><i class="fa fa-chevron-down"></i><span>Scroll Down</span></a>

    </div>
</div>

<div class="wrap full-wrap">
  <div class="main-wrap">
    <section class="main main-archive">
      <div class="loop">
        <article class="post format-gallery post_format-post-format-gallery">
          <div class="inner">
            <div class="home-sticky" id="content">
              <h2 class="home-sticky-title">Decoraciones</h2>
              <div class="sticky-inner">
                {% for project in manualidades %}
                <aside class="home-sticky-post post has-post-thumbnail sticky">
                  <span class="post-image">
                    <a href="#">
                      {% load static %}
                      <img  src="{{project.image.url}}"  />
                    </a>
                  </span>
              
                </aside>
                {% endfor %}
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>
</div>
{% endblock %}
