{% extends 'core/base.html' %}
{% block title  %}Inicio{% endblock  %}
{% block background %}{% load static %}{% endblock  %}
{% block content %}
<div class="hero" style="background-image: url('{% static 'core/images/aromas1.jpg' %}'); text-align:right;">
    <div class="hero-inner">
        <div class="inner">
            <h1><span class="border border-top border-bottom">Creando</span></h1>
            <div class="hero-line-one"></div>
            <div class="hero-line-two"><span class="border border-bottom"><a href="https://freehtml5.co" style="color:#FFF;">MG</a></span></div>
        </div>

        <a class="more-arrow" href="#content"><i class="fa fa-chevron-down"></i><span>Scroll Down</span></a>

    </div>
</div>
{% endblock %}
